<p>Edit Shapes</p>
<form name="shapes-edit"> 
    <div class="shapes-edit-segment" *ngfor="let shape of shapes; index as i">
        <div *ngIf="shape instanceof Circle">
            <app-circle [radius]=shape.radius [form]="form" [name]="i"></app-circle>
        </div>

        <div *ngIf="shape instanceof Square">
            <app-square [size]=shape.size [form]="form" [name]="i"></app-square>
        </div>

        <div *ngIf="shape instanceof Rectangle">
            <app-rectangle [width]=shape.width [width]=shape.length [form]="form" [name]="i"></app-rectangle>
        </div>
    </div>
    <button type="submit" (click)="onShapesEditSubmit()">Save Edits</button>
</form>